<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.qlcafe" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListTableActivity"
            android:label="@string/title_activity_list_table" >
        </activity>
        <activity
            android:name=".OrderActivity"
            android:label="@string/title_activity_order"
            android:parentActivityName=".ListTableActivity">
        </activity>
        <activity
            android:name=".ModifyQuantityActivity"
            android:label="@string/title_activity_modify_quantity"
            android:theme="@style/DialogTheme" >
        </activity>
        <activity
            android:name=".ListProductActivity"
            android:label="@string/title_activity_list_product" >
        </activity>

        <service android:name=".process.data.RefreshService"/>
    </application>

</manifest>
